<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Template 1</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/index}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/contrats}">Contrats</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Contrats
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Serach</a>
                <a class="dropdown-item" th:href="@{/formContrat}">New</a>
            </div>
        </li>
    </ul>
</nav>
<div layout:fragment="content1">

</div>
</body>
</html>
